{{#partial "content"}}
    <div id="hero" class="card">
        <img src="/images/green.jpeg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="views animals">
                {{#if animals}}
                    {{#each animals }}
                        <div class="card animalcard text-white bg-dark mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <p class="card-text">{{status}}</p>
                                <p class="card-text">{{health}}</p>
                                <p class="card-text">{{age}}</p>
                                <p class="card-text">{{sighting}}</p>

                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="elseh">
                    <h1>There are no animals. Add one <a href="/animal-form">here</a></h1>
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}